<div class="a2a_kit a2a_kit_size_32 a2a_default_style a2a_follow">
    {% if site.github_username %}
        <a class="a2a_button_github" data-a2a-follow="{{ site.github_username }}"></a>
    {% endif %}
    {% if site.twitter_username %}
        <a class="a2a_button_twitter" data-a2a-follow="{{ site.twitter_username }}"></a>
    {% endif %}
    {% if site.linkedin_username %}
        <a class="a2a_button_linkedin" data-a2a-follow="{{ site.linkedin_username }}"></a>
    {% endif %}
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>