
<!-- Disqus comments -->
{% if page.comments %}
    <script>
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//guiferviz.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
{% endif %}

<!-- MathJax -->
{% if page.mathjax %}
    
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
{% endif %}

<!-- JSXGraph -->
{% if page.jsxgraph %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.4/jsxgraphcore.js"></script>
{% endif %}

<!-- Fabric.js -->
{% if page.fabric %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.3/fabric.min.js"></script>
{% endif %}

<!-- JQuery -->
{% if page.jquery %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% endif %}

<!-- Font awesome -->
{% if page.font-awesome %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
{% endif %}

<!-- d3js -->
{% if page.d3js %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-ease.v1.min.js"></script>
{% endif %}

<!-- mathbox -->
{% if page.mathbox %}
    <script src="/lib/mathbox/build/mathbox-bundle.js"></script>
    <link rel="stylesheet" href="/lib/mathbox/build/mathbox.css">
{% endif %}

<!-- three.js -->
{% if page.threejs %}
    <script src="/lib/threejs/build/three.min.js"></script>
{% endif %}
