{% extends "base.html" %}

{% block announce %}
  <a href="https://twitter.com/guiferviz">
    For updates follow <strong>@guiferviz</strong> on
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    <strong>Twitter</strong>
  </a>
{% endblock %}

{% block tabs %}
    {{ super() }}
    <div id="my-container">
    </div>
    <style>
        main {
            max-height: 0px;
        }

        .md-content {
            display: none;
        }

        #my-container > canvas {
            width: 100% !important;
            height: 100% !important;
        }
    </style>
{% endblock %}

{% block content %}
    {{ super() }}
{% endblock %}
