---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
            {{ page.date | date: "Publicado el %-d de %b de %Y" }}
            <br />
            {{ page.last_modified | date: "Última modificación el %-d de %b de %Y" }}
            {% if page.tags %}
                Tags:
                {% for i in page.tags %}
                    <a class="tag" href="/tags/#{{i | slugify}}">{{ i }}</a>{% unless forloop.last %} {% endunless %}
                {% endfor %}
            {% endif %}
            {% include social-share.html %}
        </p>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    {% include social-share.html %}

    <!-- Disqus comments -->
    {% if page.comments %}
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    {% endif %}

</article>
